.about-project {
  max-width: 1140px;
  margin: 0 auto;
}

.about-project__header {
  margin: 110px 0 70px;
}

.about-project__desc {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.about-project__card-title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0 0 26px;
}

.about-project__card-text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
  margin: 0;
}

.about-project__bar {
  box-sizing: border-box;
  margin: 110px 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 36px auto;
  gap: 14px 0;
}

.about-project__bar-title {
  display: block;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  margin: 0 auto;
  padding: 9px 0;
  height: 100%;
  width: 100%;
}

.about-project__bar-title_backend {
  background: #3ddc84;
  color: #000000;
}

.about-project__bar-title_frontend {
  background: #303030;
  color: #ffffff;
}

.about-project__bar-subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #8b8b8b;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .about-project {
    margin: 0 70px;
  }
}

@media screen and (max-width: 800px) {
  .about-project {
    margin: 0 50px;
  }

  .about-project__header {
    margin: 90px 0 70px;
  }

  .about-project__desc {
    gap: 30px;
  }

  .about-project__card-title {
    margin: 0 0 22px;
  }

  .about-project__card-text {
    font-size: 12px;
    line-height: 1.5;
    max-width: 319px;
  }

  .about-project__bar {
    margin: 93px 0 90px;
    grid-template-columns: 21% 79%;
  }
}

@media screen and (max-width: 600px) {
  .about-project {
    margin: 0 25px;
  }

  .about-project__header {
    margin: 70px 0 60px;
  }

  .about-project__desc {
    gap: 25px;
  }

  .about-project__card-title {
    font-size: 18px;
    line-height: 1.22;
  }

  .about-project__card-text {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__bar {
    margin: 60px 0 70px;
  }

  .about-project__bar-title {
    font-size: 11px;
    padding: 11px 0;
  }

  .about-project__bar-subtitle {
    font-size: 11px;
    grid-template-rows: 35px auto;
    gap: 10px 0;
  }
}

@media screen and (max-width: 450px) {
  .about-project {
    margin: 0 18px;
  }
  .about-project__desc {
    flex-direction: column;
    gap: 56px;
  }
  .about-project__card-title {
    margin-bottom: 16px;
  }
  .about-project__bar {
    grid-template-columns: 35% 65%;
    gap: 10px 0;
  }
  .about-project__bar-subtitle {
    line-height: 1.15;
  }
}
