.portfolio {
  max-width: 1140px;
  margin: 0 auto;
}

.portfolio__header {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #8b8b8b;
  mix-blend-mode: normal;
  margin: 0;
}

.portfolio__list {
  margin: 50px 0 125px;
  list-style: none;
  padding: 0;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 19px;
  border-bottom: 1px solid #424242;
  gap: 20px;
}

.portfolio__item:first-of-type {
  padding-top: 0;
}

.portfolio__item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  font-family: "Inter", "Arial", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
}

.portfolio__arrow {
  object-fit: cover;
  padding-right: 5px;
  padding-top: 4px;
}

.portfolio__arrow:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .portfolio {
    margin: 0 70px;
  }
}

@media screen and (max-width: 800px) {
  .portfolio {
    margin: 0 50px;
  }
  .portfolio__list {
    margin-bottom: 90px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 1.79;
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    margin: 0 30px;
  }
  .portfolio__link {
    font-size: 22px;
    line-height: 1.52;
  }
}
@media screen and (max-width: 450px) {
  .portfolio {
    margin: 0 14px;
  }
  .portfolio__header {
    font-size: 14px;
    line-height: 1.43;
  }
  .portfolio__list {
    margin: 40px 0 70px;
  }
  .portfolio__link {
    font-size: 18px;
    line-height: 1.56;
  }

  .portfolio__arrow {
    width: 12px;
    height: 10px;
    padding-right: 4px;
    padding-bottom: 8px;
  }
}
