.saved-movies {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .saved-movies {
    margin: 0 70px;
  }
}

@media screen and (max-width: 1000px) {
  .saved-movies {
    margin: 0 45px;
  }
}

@media screen and (max-width: 800px) {
  .saved-movies {
    margin: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .saved-movies {
    margin: 0 10px;
  }
}
